.itsm-vhost-acti {
	background-color: #98FB98 !important;
}

.itsm-vhost-redi {
	background-color: #FFD700 !important;
}

.itsm-vhost-dorm {
	background-color: #D3D3D3 !important;
}

.itsm-vhost-expi {
	background-color: #A9A9A9 !important;
}

.nc2-split-display h2 {
	margin-top: 0px;
	font-weight: 600;
	margin-bottom: 10px;
}

.nc2-split-column {
	display: inline-block;
	width: 350px;
	padding: 5px 10px;
	box-sizing: border-box;
	min-height: 400px;
	background: #D3D3D3;
	vertical-align: top;
	font-size: 1rem;
	margin-bottom: 10px;
}

.nc2-split-column h3 {
	font-weight: 600;
	font-size: 1.2rem;
	border-bottom: 1px solid #000;
	margin-bottom: 5px;
}

.nc2-split-display li {
	list-style-position: inside;
}